page-attendance-mark {
    .pagel-background{
        // background-color: rgb(89, 138, 223);
        background-color: white;
        color: #277aad;
        font-family: American Typewriter, serif;
        font-style: cursive;
      }

}
