<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="flag">
      Add Student
    </ion-title>
    <ion-title *ngIf="!flag">
      Add Course
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content background-color="#e1f6f7">
  <main>
    <form #myForm="ngForm">

      <div class="form-header" *ngIf="flag">
        <h1 class="form-header__title">Student Info</h1>
        <p class="form-header__progress">Add Details of Student</p>
      </div>
      <div class="form-header" *ngIf="!flag">
        <h1 class="form-header__title">Course Info</h1>
        <p class="form-header__progress">Add Details of Course</p>
      </div>

      <fieldset class="mailing">

        <div *ngIf="flag">
          <label for="name">
            Student's Name
            <input required id="name" name="name" autocomplete="name" autocorrect="off" type="text" #name="ngModel"
              [(ngModel)]="student.name" />
          </label>
          <span *ngIf="name.errors">
            <span [hidden]="!name.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Name is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="entryNo">
            Entry Number
            <input required id="entryNo" name="entryNo" autocomplete="entryNo" autocorrect="off" type="text" #entryNo="ngModel"
              [(ngModel)]="student.entryNo" />
          </label>
          <span *ngIf="entryNo.errors">
            <span [hidden]="!entryNo.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Entry Number is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="dob">
            Date of Birth
            <input required id="dob" name="dob" autocomplete="dob" autocorrect="off" type="date" #dob="ngModel"
              [(ngModel)]="student.dob" />
          </label>
          <span *ngIf="dob.errors">
            <span [hidden]="!dob.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Date of Birth is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="email">
            Email
            <input required id="email" name="email" autocomplete="email" autocorrect="off" type="email" #email="ngModel"
              [(ngModel)]="student.email" />
          </label>
          <span *ngIf="email.errors">
            <span [hidden]="!email.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Email is required
                </small>
              </ion-label>
            </span>
            <span [hidden]="!email.errors.pattern">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  Please enter a valid email
                </small>
              </ion-label>
            </span>
          </span>

          <label for="phone">
            Phone Number
            <input required id="phone" name="phone" autocomplete="phone" autocorrect="off" type="number" #phone="ngModel"
              [(ngModel)]="student.phone" />
          </label>
          <span *ngIf="phone.errors">
            <span [hidden]="!phone.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Phone Number is required
                </small>
              </ion-label>
            </span>
            <span [hidden]="!phone.errors.pattern">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  Please enter a valid Phone Number
                </small>
              </ion-label>
            </span>
          </span>

          <ion-item>
            <!-- <p>{{imageURI}}</p> -->
            <button ion-button color="secondary" (click)="presentOptions()">Upload Image</button>
          </ion-item>
          <!-- <ion-item>
            <h4>Image Preview</h4>
            <img src="{{imageFileName}}" *ngIf="imageFileName" alt="Ionic File" width="300" />
          </ion-item> -->
          <!-- <ion-item>
            <button ion-button (click)="uploadFile()">Upload</button>
          </ion-item> -->
        </div>


        <div *ngIf="!flag">
          <label for="courseNo">
            Course Number
            <input required id="courseNo" name="courseNo" autocomplete="courseNo" autocorrect="off" type="text"
              #courseNo="ngModel" [(ngModel)]="course.courseNo" />
          </label>
          <span *ngIf="courseNo.errors">
            <span [hidden]="!courseNo.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Course Number is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="courseName">
            Course Name
            <input required id="courseName" name="courseName" autocomplete="courseName" autocorrect="off" type="text"
              #courseName="ngModel" [(ngModel)]="course.courseName" />
          </label>
          <span *ngIf="courseName.errors">
            <span [hidden]="!courseName.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Course Name is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="facultyName">
            Faculty Name
            <input required id="facultyName" name="facultyName" autocomplete="facultyName" autocorrect="off" type="text"
              #facultyName="ngModel" [(ngModel)]="course.facultyName" />
          </label>
          <span *ngIf="facultyName.errors">
            <span [hidden]="!facultyName.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Faculty Name is required
                </small>
              </ion-label>
            </span>
          </span>

          <label for="facultyEmail">
            Email
            <input required id="facultyEmail" name="facultyEmail" autocomplete="facultyEmail" autocorrect="off" type="email"
              #facultyEmail="ngModel" [(ngModel)]="course.facultyEmail" />
          </label>
          <span *ngIf="facultyEmail.errors">
            <span [hidden]="!facultyEmail.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Email is required
                </small>
              </ion-label>
            </span>
            <span [hidden]="!facultyEmail.errors.pattern">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  Please enter a valid email
                </small>
              </ion-label>
            </span>
          </span>

          <label for="facultyPhone">
            Faculty Phone Number
            <input required id="facultyPhone" name="facultyPhone" autocomplete="facultyPhone" autocorrect="off" type="number"
              #facultyPhone="ngModel" [(ngModel)]="course.facultyPhone" />
          </label>
          <span *ngIf="facultyPhone.errors">
            <span [hidden]="!facultyPhone.errors.required">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  * Phone Number is required
                </small>
              </ion-label>
            </span>
            <span [hidden]="!facultyPhone.errors.pattern">
              <ion-label style="color: red; margin-left: 1px; margin-top: -20px;">
                <small>
                  Please enter a valid Phone Number
                </small>
              </ion-label>
            </span>
          </span>
          <ion-list class="pageh-background">
            <ion-list-header class="pageh-background">
              Registered Students
            </ion-list-header>
            <ion-item-sliding #slidingItem *ngFor="let student of reg_students; let i = index;">
              <ion-item #item class="pagel-background">
                <ion-avatar item-start>
                  <img src="assets/imgs/avatar.png">
                </ion-avatar>
                <ion-icon item-end color="primary" name="arrow-dropright" (click)="openOption(slidingItem, item, $event)"></ion-icon>
                <h2>{{student.name}}</h2>
                <p> {{student.entryNumber}}</p>
              </ion-item>
              <ion-item-options icon-start>
                <button color="danger" ion-button expandable (click)="delete_reg_student(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>


            <ion-list-header class="pageh-background">
              All Students
            </ion-list-header>
            <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
            <ion-item-sliding #slidingItem *ngFor="let student of copy_students; let i = index;">
              <ion-item #item class="pagel-background">
                <ion-avatar item-start>
                  <img src="assets/imgs/avatar.png">
                </ion-avatar>
                <ion-icon item-end color="primary" name="arrow-dropright" (click)="openOption(slidingItem, item, $event)"></ion-icon>
                <h2>{{student.name}}</h2>
                <p> {{student.entryNumber}}</p>
              </ion-item>
              <ion-item-options icon-start>
                <button color="danger" ion-button expandable (click)="add_reg_student(i)">
                  <ion-icon name="add"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </fieldset>
      <button [disabled]="!myForm.form.valid" name="submit" type="submit" value="Add" ion-button (click)="postData()">Submit</button>


      <!-- <input [disabled]="!myForm.form.valid" name="submit" type="submit" value="Add" /> -->
    </form>
  </main>
</ion-content>