<ion-content padding>
  <ion-item>
    <ion-label>
      Select Course
    </ion-label>
    <ion-select interface="popover" [(ngModel)]="selectedCourse" name="comp1">
      <ion-option *ngFor="let s of list_course" [value]="s" name="comp2">
        {{s}}
      </ion-option>
    </ion-select>
  </ion-item>

  <ion-item id="from" color="primary">
    <ion-label color="light">Select Year</ion-label>
    <ion-datetime displayFormat="YYYY" [(ngModel)]="year"></ion-datetime>
  </ion-item>

  <ion-item id="from" color="primary">
    <ion-label color="light">Select Month</ion-label>
    <ion-datetime displayFormat="MM" [(ngModel)]="month"></ion-datetime>
  </ion-item>

  <ion-item>
    <button ion-button round *ngIf="this.selectedCourse!=undefined" (click)="showAttendance()">Show Attendance</button>
  </ion-item>


  <ion-list>
    <ion-item *ngFor="let info of infos; let i = index;">
      <ion-item #item>
        <h2>{{info.date}}</h2>
        <p> {{info.from}} - {{info.to}}</p>
        <ion-icon item-end *ngIf="info.present" name="checkmark"></ion-icon>
        <ion-icon item-end *ngIf="!info.present" name="close"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button round (click)="logout()" color="danger">Sign Out</button>
  </div>



</ion-content>